.nav {
  background-color: #f9f9fa;
  /* border부터 icon까지 padding 값은 20px */
  padding: 20px 50px;
  border-top: 1px solid rgba(146, 144, 144, 0.2);
  /* how do you make something stay where you want it to be even if you scroll?   */
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2f363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
  /* body에서 5px 떨어지게 된다. 부모 엘리멘트에 relative 성질을 부여해야 한다. 
    굳이 부모가 아니라 옆에 형제여도 된다.*/
}

.nav__notidot {
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  bottom: 25px;
}
